.setup-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;

    h2 {
        margin-bottom: 30px;
    }

    label {
        font-size: 20px;
    }

    input {
        margin-bottom: 20px;
    }
}